<!doctype html>
<html lang="en">
  <!-- Template Accessibility Statement -->
  <head>
  <title>Template Accessibility Statement</title>
</head>
<body>
<main>
<p>This template cannot be used as is. You will need to tailor it to
your site. Other bits need to be left verbatim, assume left as is,
unless prompted, and check the HTML comments.</p>

<h1>Accessibility Statement for SITE_URL (SITE NAME)</h1>

<p>This website is run by the School of Informatics.  We want as many
people as possible to be able to use this website. For example, that
means you should be able to:

<!-- you may have to alter this list, eg if your site is only accessed via
     a touch screen, then you wouldn't mention the keyboard -->
<ul>
<li>change colours, contrast levels and fonts
<li>zoom in up to 300% without the text spilling off the screen
<li>navigate most of the website using just a keyboard
<li>navigate most of the website using speech recognition software
<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
<li>We've also made the website text as simple as possible to understand.
</ul>

<a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on
making your device easier to use if you have a disability. The
University also provides a page on how to alter your browser to
improve the accessibility of web pages - <a
href="https://www.ed.ac.uk/about/website/accessibility/customising-site">www.ed.ac.uk/about/website/accessibility/customising-site</a>

<h2>How accessible this website is</h2>

<!-- unless you are claiming it is! -->
<p>We know some parts of this website are not fully accessible:

  <ul>
    <li>[list known high level issues. Specifics will be covered later. eg]
    <li>The contrast of some text could be improved.
    <li>Alt text missing from images.
    <li>Keyboard navigation may not always work
</ul>


<h2>Feedback and contact information</h2>

[only include options that you can actually provide, can you really
provide it in braille?]

<p>If you need information on this website in a different format like
accessible PDF, large print, easy read, audio recording or braille:

[two forms of contact, best not to us a personal email address]
email [email address]
call [phone number]
[add any other contact details, eg in person at support desk]
We'll consider your request and get back to you in [number] days.

<h2>Reporting accessibility problems with this website</h2>

<p>We're always looking to improve the accessibility of this
service. If you find any problems not listed on this page or think
we're not meeting accessibility requirements, contact:

[note the details below should be tailored to what's applicable to your site, and could be the same as above]
  
<ul>
<li>email webmaster@inf.ed.ac.uk
<li>or use the <a href="https://www.inf.ed.ac.uk/systems/support/nodice/">support web form</a>
</ul>

<h2>Enforcement procedure</h2>

<!-- Keep this enforcement section as it is, word for word -->

<p>The Equality and Human Rights Commission (EHRC) is responsible for
enforcing the Public Sector Bodies (Websites and Mobile Applications)
(No. 2) Accessibility Regulations 2018 (the 'accessibility
regulations'). If you're not happy with how we respond to your
complaint, <a href="https://www.equalityadvisoryservice.com/">contact
the Equality Advisory and Support Service (EASS)</a>.

<p>See
also <a href="https://www.gov.uk/reporting-accessibility-problem-public-sector-website">Reporting
an accessibility problem on a public sector website.</a>

<h1>Contacting us by phone or visiting us in person</h1>

[this may need tweaked if the people responsible for the site are not at the Forum]

<ul>
<li>The Informatics Forum is on
the <a href="https://www.ed.ac.uk/estates/buildings-information/disability">AccessAble</a>
accessibility guide. Search for "Informatics".

<li>The building is fully wheelchair accessible, and the front
reception desk has a induction loop.

<li>Find out how to contact us
at <a href="https://www.ed.ac.uk/informatics/about/contact">www.ed.ac.uk/informatics/about/contact</a>

</ul>

<h1>Technical information about this website's accessibility</h1>

<!-- Keep this techinical information section and the Compliance status
  as is, though obviously picking the "insert one" that applies -->

<p>The University of Edinburgh is committed to making its website
accessible, in accordance with the Public Sector Bodies (Websites and
Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<h2>Compliance status</h2>

<p>This website is partially compliant with
the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility
    Guidelines version 2.1</a> AA standard, due to [insert one of:
  the non-compliances
  the exemptions
  the non-compliances and exemptions]
  listed below.

<h1>Non-accessible content</h1>

<p>The following items do not comply with the WCAG 2.1 AA success criteria:

  <ul>
    <li>[own up to the non-accessible parts, and link to the spec, eg]

    <li>Some heading text does not have a very good contrast
    ratio. <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum">1.4.3
    Contrast (Minimum)</a>.
</ul>

<p>We aim to improve our websites accessibility on a regular and
continuous basis. See the section below ('What we're doing to improve
accessibility') on how we are improving our site accessibility.

<h2>Disproportionate burden</h2>

<p>We are not currently claiming that any accessibility problems would
  be a disproportionate burden to fix.</p>

[don't claim disproportionate burden unless you really can justify
  it. The regulator is likely to look at the Uni as a whole, not just
  Informatics, and see what's it's income is when deciding if its
disproportionate or not]

<h1>Content that's not within the scope of the accessibility regulations</h1>

[ list content that you think is not covered by the regs eg ]

<h2>PDFs and other documents</h2>

<p>Many of our older PDFs and Word documents do not meet accessibility
standards - for example, they may not be structured so they're
accessible to a screen reader. This does not meet <a href="https://www.w3.org/TR/WCAG21/#name-role-value">>WCAG 2.1 success
criterion 4.1.2 (name, role value)</a>.</p>

<p>The accessibility regulations do not require us to fix PDFs or
other documents published before 23 September 2018 if they are not
essential to providing our services. For example, we do not plan to
fix archive material such as news articles published before 2018.</p>

<p><a href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">Regulations
for PDFs or other documents published before 23 September 2018</a></p>

<h1>What we are doing to improve accessibility</h1>

[list what you are doing! eg]
<ul>
<li>We regularly review the content on our site, and fix and improve
any issues discovered.
<li>We respond and investigate any accessibility issues brought to our
attention.
<li>Remove old content that is no longer required.
</ul>

<h1>Preparation of this accessibility statement</h1>

<p>This statement was prepared on [date]. It was last
reviewed on [date].

<p>This website was last tested on [date of test]. The test was carried out
  by [ how was it tested: manual, automated, both, 3rd party. eg]

<br>  our own computing staff. With a mixture of automated (Lighthouse)
and manual testing.

<p>We used this approach to deciding on a sample of pages to test:
  [state the method you used eg most visited pages, oldest, newest]

  <br>  [possibly link to the result of any testing report]
</p>
<h2>Change log</h2>
[as you revisit and review your statement, and improve things, note them here.]

</main>
</body>
</html>
