<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="light">
                <div class="list-container">
                    <ul class="list-unstyled">
                        <li>Ian Couzin</li>
                        <li>Pedro Goncalves</li>
                        <li>Adam Gosztolai</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>Alex Cayco-Gajic</li>
                        <li>Il Memming Park</li>
                    </ul>
                </div>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
