<section class="bg-primary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="light">
                <div class="list-container">
                    <ul>
                        <li>Ian Couzin</li>
                        <li>Pedro Goncalves</li>
                        <li>Adam Gosztolai</li>
                        <li>Christopher Versteeg</li>
                        <li>Friedrich Schuessler</li>
                        <li>Angus Chadwick</li>
                    </ul>
                    <ul>
                        <li>Alex Cayco-Gajic</li>
                        <li>Tim O'Leary</li>
                        <li>Il Memming Park</li>
                        <li>Matt Perich</li>
                        <li>James Whittington</li>
                        <li>Arthur Pellegrino</li>
                    </ul>
                </div>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
