<section class="bg-primary" id="schedule">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Preliminary Schedule</h2>
          <hr class="light">
          <div class="list-container">
            <!-- Day 1 Schedule -->
            <ul style="list-style-type: none; padding: 0; margin: 0;">
              <li><strong>Monday, 14th of July </strong></li>
              <li><strong>09:00 - 10:15</strong>    Talk</li>
              <li><strong>10:15 - 10:30</strong>    Coffee</li>
              <li><strong>10:30 - 11:00</strong>    Talk</li>
              <li><strong>11:00 - 12:15</strong>    Talk</li>
              <li><strong>12:15 - 13:30</strong>    Lunch</li>
              <li><strong>13:30 - 14:00</strong>    Talk</li>
              <li><strong>14:00 - 15:15</strong>    Talk</li>
              <li><strong>15:15 - 15:30</strong>    Coffee</li>
              <li><strong>15:30 - 16:00</strong>    Talk</li>
              <li><strong>16:00 - 17:15</strong>    Talk</li>
            </ul>
  
            <!-- Day 2 Schedule -->
            <ul style="list-style-type: none; padding: 0; margin: 0;">
              <li><strong>Day 2</strong></li>
              <li><strong>09:00 - 10:15</strong>    Talk</li>
              <li><strong>10:15 - 10:30</strong>    Coffee</li>
              <li><strong>10:30 - 11:00</strong>    Talk</li>
              <li><strong>11:00 - 12:15</strong>    Talk</li>
              <li><strong>12:15 - 13:30</strong>    Lunch</li>
              <li><strong>13:30 - 14:00</strong>    Talk</li>
              <li><strong>14:00 - 15:15</strong>    Talk</li>
              <li><strong>15:15 - 15:30</strong>    Coffee</li>
              <li><strong>15:30 - 16:00</strong>    Talk</li>
              <li><strong>16:00 - 17:15</strong>    Talk</li>
              <br>
              <li><strong>19:30</strong> Dinner</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>