<section class="bg-primary" id="schedule">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Preliminary Schedule</h2>
          <hr class="light">
          <div class="list-container-schedule">
            
            <!-- Day 1 -->
            <div class="schedule-day">
              <h3>Monday, 14<sup>th</sup> of July</h3>
              <ul>
                <li><div class="time-event-row"><span class="time">09:00 - 10:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">10:15 - 10:30</span><span class="event">Coffee</span></div></li>
                <li><div class="time-event-row"><span class="time">10:30 - 11:00</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">11:00 - 12:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">12:15 - 13:30</span><span class="event">Lunch</span></div></li>
                <li><div class="time-event-row"><span class="time">13:30 - 14:00</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">14:00 - 15:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">15:15 - 15:30</span><span class="event">Coffee</span></div></li>
                <li><div class="time-event-row"><span class="time">15:30 - 16:00</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">16:00 - 17:15</span><span class="event">Talk</span></div></li>
              </ul>
            </div>
  
            <!-- Day 2 -->
            <div class="schedule-day">
              <h3>Tuesday, 15<sup>th</sup> of July</h3>
              <ul>
                <li><div class="time-event-row"><span class="time">09:00 - 10:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">10:15 - 10:30</span><span class="event">Coffee</span></div></li>
                <li><div class="time-event-row"><span class="time">10:30 - 11:00</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">11:00 - 12:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">12:15 - 13:30</span><span class="event">Lunch</span></div></li>
                <li><div class="time-event-row"><span class="time">13:30 - 14:00</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">14:00 - 15:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">15:15 - 15:30</span><span class="event">Coffee</span></div></li>
                <li><div class="time-event-row"><span class="time">15:30 - 16:00</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">16:00 - 17:15</span><span class="event">Talk</span></div></li>
                <li><div class="time-event-row"><span class="time">19:30</span><span class="event">Dinner</span></div></li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>  