<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row venue-row">
            <!-- Left: Picture -->
            <div class="col-md-6 venue-img-col">
                <img src="{{ '/img/forum.jpg' | relative_url }}" alt="Informatics Forum" class="img-responsive venue-img">
            </div>
            <!-- Right: Text Section -->
            <div class="col-md-6 venue-text-col">
                <h3>Informatics Forum</h3>
                <p>
                    10 Crichton Street<br>
                    Edinburgh EH8 9AB<br>
                    United Kingdom<br>
                    <a href="https://maps.app.goo.gl/8Bf6CcihiRAB893g8" target="_blank" rel="noopener noreferrer"><u>Directions</u></a>
                </p>
            </div>
        </div>
    </div>
</section>
