html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.abstract-row{
    @include sans-serif-font;
    h4{
        line-height: 1.7;
    }
    // margin-bottom: 50px;
}

.speaker-row{
    margin-top: 4em;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; // ensures vertical alignment from top
    gap: 1em;
    margin: 0 auto;
    padding-left: 4em;
    flex-wrap: wrap;
    max-width: 1000px;
    @include sans-serif-font;
  
    ul {
      flex: 0 0 47%; 
      text-align: left;
      font-size: 20px;
      line-height: 2;
    //   padding-left: 50px;
    }
  
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    //   gap: 10px;
  
      ul {
        flex: 1 0 100%;
        width: 100%;
        padding-left: 2em;
      }
    }
}

.list-container-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  // padding-left: 1em;
//   max-width: 1000px;

  @include sans-serif-font;

  .schedule-day {
    width: 100%;

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      // padding-left: 2em;
      // padding-right: 1em;
      margin: 0 auto;
      font-size: 20px;

      li {
        margin-bottom: 10px;

        .time-event-row {
          display: grid;
          grid-template-columns: 6em auto;
          font-size: 18px;
          line-height: 1.3;
          text-align: left;
        }

        .time {
          font-size: 15px;
          // font-weight: bold;
          text-align: left;
          white-space: nowrap;
        }

        .event-break {
          text-align: left;
          white-space: nowrap;
          // font-style: italic !important;
          color: #dddddd;
        }

        .event {
          font-weight: bold;
          text-align: left;
          // white-space: nowrap;
        }
        .title {
          text-align: left;
          font-style: italic;
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 20px;

    .schedule-day {
      width: calc(50% - 1em); // 40px on each side equals 80px total gap
      // ul {
        // padding: 1em;
      // }
    }
  }
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 500;
                color: rgba(white, .9);
                font-size: 18px;
                margin-bottom: 50px;
                @include serif-font;
            }
        }
    }
    @media (min-width: 768px) {
        // Use a fixed height for larger screens - full viewport height
        min-height: 60%;
        .header-content {
            position: absolute;
            top: 60%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            // padding: 100px 60px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 24px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.venue-row {
  // Default: center everything (small/medium screens)
  text-align: center;

  .venue-img-col,
  .venue-text-col {
    text-align: center;
  }

  .venue-img {
    max-width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // On large screens, align image right and text left
  @media (min-width: 992px) {
    .venue-img-col {
      text-align: right;
    }
    .venue-text-col {
      text-align: left;
    }
    .venue-img {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.accommodation-row {
  // Default: center everything (small/medium screens)
  padding-top: 2em;
  text-align: center;

  .acc-text-col,
  .acc-img-col {
    text-align: center;
  }

  .acc-img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // On large screens, align text left and image right
  @media (min-width: 992px) {
    .acc-text-col {
      text-align: right;
    }
    .acc-img-col {
      text-align: left;
    }
    .acc-img {
      margin-left: 0;
      margin-right: auto;
      display: inline-block;
    }
  }
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

